In [2]:
"""!pip install numpy
!pip install matplotlib
!pip install scipy
!pip install pandas
!pip install pandas_datareader
!pip install statsmodels"""

'!pip install numpy\n!pip install matplotlib\n!pip install scipy\n!pip install pandas\n!pip install pandas_datareader\n!pip install statsmodels'

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import scipy.optimize as opt
import pandas as pd
from pandas_datareader import data as web
import datetime
from statsmodels.tsa.arima_model import ARIMA
from math import e

C:\Users\ggard\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
#Stock tickers for most of the SP500
symsp500 = ['ABT', 'ABBV', 'ACN', 'ACE', 'ADBE', 'ADT', 'AAP', 'AES', 'AET', 'AFL', 'AMG', 'A', 'GAS', 'APD', 'ARG', 'AKAM', 'AA', 'AGN', 'ALXN', 'ALLE', 'ADS', 'ALL', 'ALTR', 'MO', 'AMZN', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AMP', 'ABC', 'AME', 'AMGN', 'APH', 'APC', 'ADI', 'AON', 'APA', 'AIV', 'AMAT', 'ADM', 'AIZ', 'T', 'ADSK', 'ADP', 'AN', 'AZO', 'AVGO', 'AVB', 'AVY', 'BHI', 'BLL', 'BAC', 'BK', 'BCR', 'BXLT', 'BAX', 'BBT', 'BDX', 'BBBY', 'BRK-B', 'BBY', 'BLX', 'HRB', 'BA', 'BWA', 'BXP', 'BSK', 'BMY', 'BRCM', 'BF-B', 'CHRW', 'CA', 'CVC', 'COG', 'CAM', 'CPB', 'COF', 'CAH', 'HSIC', 'KMX', 'CCL', 'CAT', 'CBG', 'CBS', 'CELG', 'CNP', 'CTL', 'CERN', 'CF', 'SCHW', 'CHK', 'CVX', 'CMG', 'CB', 'CI', 'XEC', 'CINF', 'CTAS', 'CSCO', 'C', 'CTXS', 'CLX', 'CME', 'CMS', 'COH', 'KO', 'CCE', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CSC', 'CAG', 'COP', 'CNX', 'ED', 'STZ', 'GLW', 'COST', 'CCI', 'CSX', 'CMI', 'CVS', 'DHI', 'DHR', 'DRI', 'DVA', 'DE', 'DLPH', 'DAL', 'XRAY', 'DVN', 'DO', 'DTV', 'DFS', 'DISCA', 'DISCK', 'DG', 'DLTR', 'D', 'DOV', 'DOW', 'DPS', 'DTE', 'DD', 'DUK', 'DNB', 'ETFC', 'EMN', 'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'EMC', 'EMR', 'ENDP', 'ESV', 'ETR', 'EOG', 'EQT', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ES', 'EXC', 'EXPE', 'EXPD', 'ESRX', 'XOM', 'FFIV', 'FB', 'FAST', 'FDX', 'FIS', 'FITB', 'FSLR', 'FE', 'FSIV', 'FLIR', 'FLS', 'FLR', 'FMC', 'FTI', 'F', 'FOSL', 'BEN', 'FCX', 'FTR', 'GME', 'GPS', 'GRMN', 'GD', 'GE', 'GGP', 'GIS', 'GM', 'GPC', 'GNW', 'GILD', 'GS', 'GT', 'GOOGL', 'GOOG', 'GWW', 'HAL', 'HBI', 'HOG', 'HAR', 'HRS', 'HIG', 'HAS', 'HCA', 'HCP', 'HCN', 'HP', 'HES', 'HPQ', 'HD', 'HON', 'HRL', 'HSP', 'HST', 'HCBK', 'HUM', 'HBAN', 'ITW', 'IR', 'INTC', 'ICE', 'IBM', 'IP', 'IPG', 'IFF', 'INTU', 'ISRG', 'IVZ', 'IRM', 'JEC', 'JBHT', 'JNJ', 'JCI', 'JOY', 'JPM', 'JNPR', 'KSU', 'K', 'KEY', 'GMCR', 'KMB', 'KIM', 'KMI', 'KLAC', 'KSS', 'KRFT', 'KR', 'LB', 'LLL', 'LH', 'LRCX', 'LM', 'LEG', 'LEN', 'LVLT', 'LUK', 'LLY', 'LNC', 'LLTC', 'LMT', 'L', 'LOW', 'LYB', 'MTB', 'MAC', 'M', 'MNK', 'MRO', 'MPC', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MAT', 'MKC', 'MCD', 'MHFI', 'MCK', 'MJN', 'MMV', 'MDT', 'MRK', 'MET', 'KORS', 'MCHP', 'MU', 'MSFT', 'MHK', 'TAP', 'MDLZ', 'MON', 'MNST', 'MCO', 'MS', 'MOS', 'MSI', 'MUR', 'MYL', 'NDAQ', 'NOV', 'NAVI', 'NTAP', 'NFLX', 'NWL', 'NFX', 'NEM', 'NWSA', 'NEE', 'NLSN', 'NKE', 'NI', 'NE', 'NBL', 'JWN', 'NSC', 'NTRS', 'NOC', 'NRG', 'NUE', 'NVDA', 'ORLY', 'OXY', 'OMC', 'OKE', 'ORCL', 'OI', 'PCAR', 'PLL', 'PH', 'PDCO', 'PAYX', 'PNR', 'PBCT', 'POM', 'PEP', 'PKI', 'PRGO', 'PFE', 'PCG', 'PM', 'PSX', 'PNW', 'PXD', 'PBI', 'PCL', 'PNC', 'RL', 'PPG', 'PPL', 'PX', 'PCP', 'PCLN', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PEG', 'PSA', 'PHM', 'PVH', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RRC', 'RTN', 'O', 'RHT', 'REGN', 'RF', 'RSG', 'RAI', 'RHI', 'ROK', 'COL', 'ROP', 'ROST', 'RLC', 'R', 'CRM', 'SNDK', 'SCG', 'SLB', 'SNI', 'STX', 'SEE', 'SRE', 'SHW', 'SIAL', 'SPG', 'SWKS', 'SLG', 'SJM', 'SNA', 'SO', 'LUV', 'SWN', 'SE', 'STJ', 'SWK', 'SPLS', 'SBUX', 'HOT', 'STT', 'SRCL', 'SYK', 'STI', 'SYMC', 'SYY', 'TROW', 'TGT', 'TEL', 'TE', 'TGNA', 'THC', 'TDC', 'TSO', 'TXN', 'TXT', 'HSY', 'TRV', 'TMO', 'TIF', 'TWX', 'TWC', 'TJK', 'TMK', 'TSS', 'TSCO', 'RIG', 'TRIP', 'FOXA', 'TSN', 'TYC', 'UA', 'UNP', 'UNH', 'UPS', 'URI', 'UTX', 'UHS', 'UNM', 'URBN', 'VFC', 'VLO', 'VAR', 'VTR', 'VRSN', 'VZ', 'VRTX', 'VIAB', 'V', 'VNO', 'VMC', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'ANTM', 'WFC', 'WDC', 'WU', 'WY', 'WHR', 'WFM', 'WMB', 'WEC', 'WYN', 'WYNN', 'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZBH', 'ZION', 'ZTS']

In [3]:
#Function for pulling prices from the RobinHood API
def readRobinHood(sym):
    df = pd.DataFrame(index=web.DataReader("SPY", "robinhood").index.levels[1])
    for s in sym:
        try:
            frp = web.DataReader(s, "robinhood")
            df[s] = (pd.to_numeric(frp.close_price.values) - pd.to_numeric(frp.open_price.values))/pd.to_numeric(frp.open_price.values)
        except:pass
    return df

In [4]:
sp447 = readRobinHood(symsp500)

In [5]:
sp447.head()

,ABT,ABBV,ACN,ADBE,ADT,AAP,AES,AET,AFL,AMG,...,WYNN,XEL,XRX,XLNX,XL,XYL,YUM,ZBH,ZION,ZTS
begins_at,,,,,,,,,,,,,,,,,,,,,
2017-05-22,0.010631,-0.001678,0.009128,0.010773,0.0,-0.023393,0.017006,-0.003956,0.000947,0.004633,...,0.012949,0.012686,-0.002858,0.010325,0.008425,0.002109,0.010818,-0.002287,0.000250,-0.001325
2017-05-23,-0.000686,0.006113,-0.005779,0.002587,0.0,0.010852,-0.000881,0.006312,0.002433,-0.008122,...,-0.013429,0.003234,-0.005724,-0.005287,0.010738,0.012465,-0.002111,-0.001526,0.027591,0.015372
2017-05-24,-0.005936,0.002129,0.012621,0.006706,0.0,0.010406,0.034336,0.014519,-0.004584,-0.001179,...,-0.001530,0.004942,0.011526,0.000933,0.006133,-0.001518,0.013951,0.010178,-0.007559,0.014162
2017-05-25,0.003884,0.003937,0.002851,0.004854,0.0,-0.007744,0.005978,0.009032,0.011371,0.003846,...,0.003306,0.008752,-0.007100,0.010971,0.013321,-0.010815,-0.000416,-0.000503,0.001469,0.000320
2017-05-26,0.017985,-0.001210,-0.000406,-0.007276,0.0,0.017597,0.002550,-0.000275,0.003216,0.002083,...,0.010285,0.000000,0.002866,0.005190,-0.001613,-0.011916,-0.000554,-0.001842,-0.010761,-0.002707

In [6]:
#Syntax used for ARIMA Modelling in python. order = (# of autoregressions, # differences, # of MA terms)
regr = ARIMA(endog = sp447["ABT"].values, order = (3,0,0))
print(regr.fit(method="css").summary())

                              ARMA Model Results
==============================================================================
Dep. Variable:                      y   No. Observations:                  250
Model:                     ARMA(3, 0)   Log Likelihood                 776.167
Method:                           css   S.D. of innovations              0.010
Date:                Mon, 21 May 2018   AIC                          -1542.334
Time:                        22:49:46   BIC                          -1524.787
Sample:                             3   HQIC                         -1535.269

==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0008      0.001      1.045      0.297      -0.001       0.002
ar.L1.y        0.0165      0.063      0.260      0.795      -0.107       0.140
ar.L2.y       -0.0452      0.063     -0.714      0.476      -0.169       0.079
ar.L3.y        0.1044      0.063      1.650      0.100      -0.020       0.228
                                    Roots
=============================================================================
                 Real           Imaginary           Modulus         Frequency
-----------------------------------------------------------------------------
AR.1           -0.9095           -1.8511j            2.0625           -0.3227
AR.2           -0.9095           +1.8511j            2.0625            0.3227
AR.3            2.2520           -0.0000j            2.2520           -0.0000
-----------------------------------------------------------------------------

In [66]:
#predicts years out returns for all stocks using ARIMA. leng is the number of predictions (I projected a year out, but you will likely
#want less if you plan on regularly rebalancing your portfolio)
def ARIMAreturns(df, p=1, d=0, q=0, leng = 364):
    new = pd.DataFrame()
    for v in list(df.columns.values):
        regr = ARIMA(endog = df[v].values, order = (p,d,q))
        pred = regr.fit(method="css").predict(end=leng)
        r = e**(np.sum(pred)) - 1
        new[v] = np.array([r])
    return new

In [8]:
predret = ARIMAreturns(sp447,3,0,0)

C:\Users\ggard\Anaconda3\lib\site-packages\statsmodels\base\model.py:496: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)

In [9]:
predret.transpose().head()

             0
ABT   0.313390
ABBV  0.516423
ACN   0.234143
ADBE  0.367292
ADT  -0.594998

In [10]:
#returns the portfolio sd from the nxn covariance matrix and length n 
#vector of weights
def weightedvar(cov, weights):
    tot = 0
    for i in range(0,len(weights)):
        for j in range(0,len(weights)):
            tot += cov[i,j]*weights[i]*weights[j]
    return(tot)

#gets portfoio return from a vector of returns and weights
def weightedreturn(returns, weights):
    tot = 0
    for i in range(0,len(returns)):
        tot += returns[i]*weights[i]
    return tot

In [11]:
#weightedreturn(predret.transpose.values, x0)

In [12]:
varsp447 = np.array(sp447.cov())
sp447.cov().iloc[0:5,0:5]

           ABT      ABBV       ACN      ADBE       ADT
ABT   0.000110  0.000075  0.000055  0.000067  0.000015
ABBV  0.000075  0.000252  0.000067  0.000081  0.000067
ACN   0.000055  0.000067  0.000095  0.000085  0.000023
ADBE  0.000067  0.000081  0.000085  0.000220  0.000016
ADT   0.000015  0.000067  0.000023  0.000016  0.000482

In [21]:
## for opt.minimimize
size = sp447.shape[1] #sp447.shape[1] = 447
#Weights sum to 1
cons = ({'type':'eq', 'fun': lambda x: 1 - np.sum(x)})

#bounds when shorts both are/aren't allowed. 
bds = [(0,1) for i in range(0,size)] 
bdsshort = [(-1,1) for i in range(0,size)]

portvar = lambda x : weightedvar(varsp447*10000, x)

#Initial values fed to optimizer
x0 = [1/size]*size

In [22]:
#Here we use the SCIPY package to non-analytically find the portfolio with the smallest variance.
minvar = opt.minimize(portvar, x0=x0, bounds = bds, constraints = cons, options={'disp': True ,'eps' : 1e-4}).x.tolist()

Optimization terminated successfully.    (Exit mode 0)
            Current function value: 0.06826582505317835
            Iterations: 16
            Function evaluations: 7198
            Gradient evaluations: 16

In [42]:
minvar[0:5]

[1.525610242614884e-16,
 0.0,
 1.0598836783645519e-16,
 1.3204816531808097e-16,
 1.8668924640655625e-16]

In [43]:
weightedreturn(np.array(predret.transpose()[0]), minvar)

0.007864563023819554

In [53]:
funcsharp = lambda x : -(weightedreturn(weights = x, returns = np.array(predret.transpose()[0])))/np.sqrt(weightedvar(cov = varsp447, weights = x))
maxsharp = opt.minimize(funcsharp, x0 = x0, bounds = bds, constraints = cons).x.tolist()

In [55]:
# WE HAVE FOUND THE MAX SHARP PORTFOLIO!
weightedreturn(np.array(predret.transpose()[0]), maxsharp)

0.968198261977317

In [85]:
#LETS try making our own portfolio. Here I took a few of Buffetts top picks in his portfolio to base ours around.
symport = ["ABC","AAPL", "TSLA", "AMZN", "WFC", "BAC", "KO", "COST", "MON",  "USP", "AXP", "TEVA", "GM", "UPS", "KHC", "UAL", "DAL", "AXP", "PSX" ]

In [86]:
myport = readRobinHood(symport)

In [87]:
portret = ARIMAreturns(df=myport,p=3,d=0,q=0, leng=364)
varport = np.array(myport.cov())

In [88]:
portret

,ABC,AAPL,TSLA,AMZN,WFC,BAC,KO,COST,MON,AXP,TEVA,GM,UPS,KHC,UAL,DAL,PSX
0,-0.20336,0.092181,0.048034,-0.220395,0.031849,-0.110821,-0.081208,0.092684,0.125874,0.1178,-0.320371,-0.126906,0.047804,-0.588918,-0.266883,-0.088325,0.712323

In [ ]:
X = np.linspace(0,1, num = 31).tolist()
#var=[for i in w: weightedvar(cov=sig, weights=np.i.tolist()[0]) ]

def cons2(r):
    return ({'type':'eq', 'fun': lambda x: 1 - np.sum(x)},{'type':'eq', 'fun': lambda x: r - weightedreturn(weights=x,returns= np.array(portret.transpose()[0]),)})

weightseff = [opt.minimize(portvar, x0=x0, bounds = bds, constraints =cons2(r)).x.tolist() for r in X ]
sdeff = [np.sqrt(weightedvar(cov=varport, weights=i)) for i in weightseff]

plt.plot(sdeff,X)
plt.show()